.callUsSection{
    background-color: black;
    height: 20rem;
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.callUsSection p{
    font-size: 2.5rem;
    color: white;
}
.callUsSection p a{
    color: white;
    text-decoration: none;
    margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
    .callUsSection{    
        width: 90%;   
    }
}
@media only screen and (max-width: 700px) {
    .callUsSection{    
        width: 95%;   
    }
}
@media only screen and (max-width: 600px) {
    .callUsSection{    
        width: 100%;   
    }
}